<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/posts.scss">
  </head>
  <body>
    <form method="POST" action="/new">
        <div class="formgroup_title">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required />
        </div>
        <div class="formgroup_threadtext">
            <label for="threadtext">Text:</label>
            <input type="text" id="threadtext" name="threadtext" required />
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
  </body>
</html>