<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="benutzername">Username:</label>
            <input type="text" id="benutzername" name="benutzername" required>
        </div>
        <div>
            <label for="passwort">Password:</label>
            <input type="password" id="passwort" name="passwort" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>
        <%= locals.message %>
    </p>
</body>
</html>