<html lang="en">
    <body>
        <h1> Your current level is <%= locals.level + 1 %> </h1>
        <ul>
            <% locals.posts.forEach(post => {%>
            <li>
                <%= post.title %>
                <br>
                <%= post.author.membership %>
                (Level: <%= Object.values(Tier).indexOf(post.author.membership) + 1 %>)
            </li>
            <br>
            <% }) %>
        </ul>
    </body>
</html>