<html>
    <body>
        <form action="/users/register" method="post">
            <label for="username"> Username </label>
            <input type="text" id="username" name="username"/>
            <br>
            <label for="password"> Password </label>
            <input type="text" id="password" name="password"/>
            <br>
            <label for="email"> E-Mail </label>
            <input type="text" id="email" name="email"/>
            <br>
            <button type="submit">
                Post
            </button>
        </form>
    </body>
</html>