<form action="/search" method="get">
    <label for="searchTerm"> Search Users: </label>
    <input type="text" name="searchTerm" id="searchTerm">
    <button type="submit"> Search </button>
  </form>